.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.svg {
  width: 100%;
  max-width: 340px;
  height: auto;
  overflow: visible;
}

@media (max-width: 768px) {
  .svg {
    margin-top: 0;
    transform: none;
  }
}
